# variadic functions

In [1]:
# ignore non harmful warnings
from warnings import filterwarnings
filterwarnings("ignore")

In [2]:
def add (a:float, b:float) -> float:
    """"
    this function adds two floats
    
    """
    c = a+b
    return c

# Uderrstanding positional arguments and keyword arguments in python

In [4]:
# Positional arguments
r1 = add (5.1 , 4.5)
print(r1)

9.6

In [6]:
# keyword arguments
r2 =add(a=25.3,b=23.4)
print (r2)

48.7

 # Write a function to add any amount of numbers

# *args -> this will act like positional arguments which is considered tuple inside python

In [15]:
def func1(*args):
    print(f"Arguments:{args}")
    print(f"Type:{type(args)}")

    for i in args:
        print (i)

In [9]:
func1(2 ,4,5,8)

Arguments:(2, 4, 5, 8)
Type:<class 'tuple'>
2
4
5
8

In [16]:
func1(24, 25, "shubham", "yash", True)

Arguments:(24, 25, 'shubham', 'yash', True)
Type:<class 'tuple'>
24
25
shubham
yash
True

In [17]:
# How to unpack the list inside variadic function
# After unpacking individual example will be considered as inputs
b = (3, 4, 5, "shubham", "yash",False ,14,15)
func1(*b)

Arguments:(3, 4, 5, 'shubham', 'yash', False, 14, 15)
Type:<class 'tuple'>
3
4
5
shubham
yash
False
14
15

# Add any amount off numbers

In [18]:
def add_multiple(*args):
    # initialize sum with 0
    s = 0
    # Apply for loop on args
    for i in args:
        s = s+i
    # Return the value of s
    return s

In [19]:
add_multiple(2,5,8,9,8,7,6)

45

In [20]:
b =list(range(1,100))
add_multiple(*b)

4950

# keyword arguments
**kwargs -> Act like Dictionary in python

In [26]:
def func2(**kwargs):
    print(kwargs)
    print(type(kwargs))
    for key , value in kwargs.items():
        print(f"Key :{key}, Value:{value}")

In [27]:
func2(name="Shubham", age=24)

{'name': 'Shubham', 'age': 24}
<class 'dict'>
Key :name, Value:Shubham
Key :age, Value:24

In [28]:
func2(name="Shubham",age=24,email= "shubhamdute@gmail.com")

{'name': 'Shubham', 'age': 24, 'email': 'shubhamdute@gmail.com'}
<class 'dict'>
Key :name, Value:Shubham
Key :age, Value:24
Key :email, Value:shubhamdute@gmail.com

# I want store user information with some flexibility

In [29]:
def user_info(**kwargs):
    user ={
        "name":None,
        "age":None,
        "email":None
         }
    user.update(kwargs)
    return user

In [31]:
a1 = user_info(name="shubham", age=24, email="shubhamdute@gmail.com")
print(a1)

{'name': 'shubham', 'age': 24, 'email': 'shubhamdute@gmail.com'}

In [33]:
a2 = user_info(name="shubham",age=24)
print(a2)

{'name': 'shubham', 'age': 24, 'email': None}

In [34]:
a3 = user_info(full_name= "Shubham Dute", age = 24, email= "shubhamdute@gmail.com")
print(a3)

{'name': None, 'age': 24, 'email': 'shubhamdute@gmail.com', 'full_name': 'Shubham Dute'}

In [35]:
a4 = user_info(
    name = "Shubham",
    email = "Shubhamdute@gmail.com",
    city = "kotul",
    State = "maharashtra",
    married = False
)
print(a4)

{'name': 'Shubham', 'age': None, 'email': 'Shubhamdute@gmail.com', 'city': 'kotul', 'State': 'maharashtra', 'married': False}

# Perform retaurant billing
menu -> burger, pizza, pasta,coffe tea

In [41]:
# MenU Prices
Menu_Prices= {
    "burger":134,
    "pizza":145,
    "pasta":150,
    "sandwich":120,
    "coffee":80,
    "tea":30

}

In [47]:
# kwargs burger=2 ,menu, qty

def billing(**kwargs):
    # iniatilize total bill to 0 
    total_bill = 0
    # Apply for loop on kwargs
    for food, qty in kwargs.items():
        price = Menu_Prices.get(food)
        if price is not None:
            line_total = price * qty
            print(f"Food Item : {food}, Quantity : {qty}, Price : {price}, line Total : {line_total}")
            total_bill = total_bill + line_total
        else:
            print(f"Food item : {food} not available in menu")

     # print the final bill
    print(f"Total bill : {total_bill:2f} INR")    
    # return the total bill
    return total_bill

In [48]:
Menu_Prices

{'burger': 134,
 'pizza': 145,
 'pasta': 150,
 'sandwich': 120,
 'coffee': 80,
 'tea': 30}

In [49]:
b1 = billing( burger=2, pasta=3, sandwich=1, coffee=1)

Food Item : burger, Quantity : 2, Price : 134, line Total : 268
Food Item : pasta, Quantity : 3, Price : 150, line Total : 450
Food Item : sandwich, Quantity : 1, Price : 120, line Total : 120
Food Item : coffee, Quantity : 1, Price : 80, line Total : 80
Total bill : 918.000000 INR

In [50]:
b1

918

In [51]:
b2 = billing(pizza=2, tea=1, coffee=1)

Food Item : pizza, Quantity : 2, Price : 145, line Total : 290
Food Item : tea, Quantity : 1, Price : 30, line Total : 30
Food Item : coffee, Quantity : 1, Price : 80, line Total : 80
Total bill : 400.000000 INR

In [52]:
b3 = billing(pasta = 1)

Food Item : pasta, Quantity : 1, Price : 150, line Total : 150
Total bill : 150.000000 INR

In [53]:
b4 = billing(pasta = 2, pizza = 1, samosa = 1, coffee = 2)

Food Item : pasta, Quantity : 2, Price : 150, line Total : 300
Food Item : pizza, Quantity : 1, Price : 145, line Total : 145
Food item : samosa not available in menu
Food Item : coffee, Quantity : 2, Price : 80, line Total : 160
Total bill : 605.000000 INR

In [56]:
print(Menu_Prices.get("samosa"))

None

In [57]:
print(Menu_Prices.get("pizza"))

145

In [54]:
print(Menu_Prices.get("burger"))

134

# You can combine both postional and kwargs
1. positional args are always first
2. keyword args are last

In [60]:
def fun3(*args, **kwargs):
    print(f"Args : {args},Type : {type(args)}")
    for i in args:
        print(i)
    print(f"Kwargs : {kwargs}, Type: {type(kwargs)}") 
    for key, value in kwargs.items():
        print(key, value)

In [64]:
fun3(3 , 4, 5, 6, 8, 8)

Args : (3, 4, 5, 6, 8, 8),Type : <class 'tuple'>
3
4
5
6
8
8
Kwargs : {}, Type: <class 'dict'>

In [65]:
fun3(a="Example", b=23, c=45.12, d=0)

Args : (),Type : <class 'tuple'>
Kwargs : {'a': 'Example', 'b': 23, 'c': 45.12, 'd': 0}, Type: <class 'dict'>
a Example
b 23
c 45.12
d 0

In [66]:
fun3(3 , 4, 5, 6, name="Rahul", age=24,married=True)

Args : (3, 4, 5, 6),Type : <class 'tuple'>
3
4
5
6
Kwargs : {'name': 'Rahul', 'age': 24, 'married': True}, Type: <class 'dict'>
name Rahul
age 24
married True